services:
  - type: web
    name: requote-ai-backend
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn api:app --timeout 600 --workers 1 --threads 2 --preload
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: OPENAI_API_KEY
        sync: false
    plan: free
    autoDeploy: true