services:
  - type: web
    name: requote-ai-backend
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: OPENAI_API_KEY
        sync: false
      - key: DEEPL_API_KEY
        sync: false
      - key: PORT
        value: 5000
    plan: free
    autoDeploy: true
    healthCheckPath: /
    startCommand: gunicorn api:app --workers 1 --threads 2 --timeout 600 --bind 0.0.0.0:5000 --keep-alive 5 --graceful-timeout 30